<html>

<head>
    <% include partials/head %>
</head>


<body class="container">
    <div class="col-md-6.col-md-offset-3">
        <p>Hello
            <%= name %>, click bellow to see your metrics!
        </p>
        <hr>
        <button class="btn btn-success" id="show-metrics">
            Télécharger les metrics
        </button>
        <div id="metrics"></div>
        <hr>
    </div>

    <br>
    <hr>
    <div class="col-md-6.col-md-offset-3">
        <br>
        <form id="push-metric" method="post">
            <div class="form-group">
                <p>!!!! Attention: Pour ajouter un metric entrez le numéro qui vient juste après votre dernier ID de
                    metric !!!! </p>
                <p> Sinon entrez le numéro et timestamp du metric que vous souhaitez modifier</p>
                <label for="form_id">ID: </label>
                <input id="form_id" type="text" name="id" />
            </div>
            <br>
            <div class="form-group">
                <label for="form_timestamp">Timestamp: </label>
                <input id="form_timestamp" type="text" name="timestamp" />
            </div>
            <br>
            <div class="form-group">
                <label for="form_value">Value: </label>
                <input id="form_value" type="text" name="value" />
            </div>
            <br>
            <button class="btn btn-primary btn-block" type="submit" value="Submit">Ajouter ou modifier</button>
        </form>
    </div>
    <hr>
    <br>
    <hr>
    <div class="col-md-6.col-md-offset-3">
        <form id="delete-metric" method="post">
            <div class="form-group">
                <label for="form_id">ID: </label>
                <input id="form_id" type="text" name="id" />
            </div>
            <br>
            <button class="btn btn-primary btn-block" type="submit" value="Submit">Supprimer le metric</button>
            <br>
        </form>
    </div>
    <hr>
    <br>
    <button class="btn btn-danger" href="/logout" onClick='document.location.href="/logout"'>
        Déconnection
    </button>
</body>

<script>
    $('#show-metrics').click((e) => {
        e.preventDefault()
        $.getJSON('/metrics/all', {}, (data) => {
            const content = data.map(d => {
                return `<p>id: ${d.key}, timestamp: ${d.timestamp}, value: ${d.value}</p>`
            })
            $("#metrics").html(content)
        })
    })
    $('#push-metric').submit((e) => {
        const formData = new FormData(e.target);
        let tm = formData.get("timestamp")
        let val = formData.get("value")
        let id = formData.get("id")
        $.post(`/metrics/${id}`, { "timestamp": tm, "value": val }, () => {
            alert(`Timestamp: ${tm}, value: ${val} added to your metrics`)
        }
        )
        e.preventDefault();
    })
    $('#delete-metric').submit((e) => {
        e.preventDefault()
        const formData = new FormData(e.target);
        let id = formData.get("id")
        $.ajax({
            url: `/metrics/${id}`,
            type: 'DELETE',
            success: function (result) {
                alert(`Metrics id: ${id} deleted`)
            }
        })
    })

</script>

</html>