<meta charset="UTF-8">
<title>Node Project by Clément Voisin</title>
<h1>Node Project</h1>
<!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->

<!-- <style>
    body    { padding-top:50px; }
</style> -->

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- <script src="/js/bootstrap.min.js" /></script> -->